<!DOCTYPE html>
<html lang="zxx"> <!-- Use this instead of "en" because of "lorem impsum" text -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/script.js"></script> <!-- Using defer can also work to ensure that HTML is rendered first -->
        <title>New York Times Front Page</title>
    </head>
    <body>
        <header> <!-- Header content -->
            <div id="header-container">
                <div id="opening-line-container">
                    <div><button class="opening-line-button">SEARCH</button></div>
                    <div id="website-versions">U.S. INTERNATIONAL CANADA ESPAÑOL 中文</div>
                    <div>
                        <button class="opening-line-button">SUBSCRIBE FOR 1$/WEEK</button>
                        <button class="opening-line-button">LOG IN</button>
                    </div>
                </div>
                <div id="title-container">
                    <div class="title-element"><p id="date">Script will place the actual date here</p></div>
                    <div id="title">The New York Times</div>
                    <div class="title-element">Nasdaq <span id="percentage">5.32%</span></div>
                </div>
                <hr class="dividing-line">
                <div id="live-line"><span class="live">LIVE:</span> LOREM IPSUM | <span class="live">LIVE:</span> LOREM IPSUM</div>
                <hr class="dividing-line">
            </div>
            <div id="gap"></div>
        </header>
        <main> <!-- Article content -->
            <div class="article-container">
                <div id="first">
                    <h1 class="article-header">Lorem ipsum dolor sit amet.</h1>
                    <!--
                        Link: https://unsplash.com/photos/chrysler-building-new-york-aTWNx7yoJWo
                        By Mark Boss
                        Free to use under the Unsplash License
                    -->
                    <img class="image" src="/images/photo-1570304816841-906a17d7b067.jpeg" alt="Manhattan Skyline">
                    <p class="article-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit officia voluptate illum? Sint qui facere deserunt assumenda laudantium magni obcaecati, sed quos. Qui laboriosam veritatis facere reiciendis, deserunt quaerat ad aperiam fuga eum sapiente dolorem iusto quos impedit ex placeat! Accusamus, ad. Quos culpa, animi odit dolorum saepe deserunt eveniet?</p>
                    <!--
                    <p class="article-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quod ex voluptate perspiciatis repellat at! Magnam tempora voluptatibus culpa vero eum officiis ipsum minus incidunt?</p>
                    <p class="article-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis expedita reprehenderit labore ab cumque rerum.</p>
                    <p class="article-paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium cumque quos mollitia, ducimus illum ipsa voluptas repudiandae, ipsam, blanditiis id nobis dignissimos. Corporis fugit nam veritatis reiciendis odio obcaecati, perferendis voluptatum impedit cupiditate quisquam unde corrupti quo odit porro earum, repellendus reprehenderit dolores, doloremque asperiores possimus voluptate amet. Minus, dicta?</p>
                    -->
                </div>
                <div id="second">
                    <h1 id="main-article-header">Lorem ipsum dolor sit amet.</h1>
                    <!--
                        Link: https://unsplash.com/photos/chrysler-building-new-york-aTWNx7yoJWo
                        By Mark Boss
                        Free to use under the Unsplash License
                    -->
                    <img class="image" src="/images/photo-1570304816841-906a17d7b067.jpeg" alt="Manhattan Skyline">
                    <p class="article-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit officia voluptate illum? Sint qui facere deserunt assumenda laudantium magni obcaecati, sed quos. Qui laboriosam veritatis facere reiciendis, deserunt quaerat ad aperiam fuga eum sapiente dolorem iusto quos impedit ex placeat! Accusamus, ad. Quos culpa, animi odit dolorum saepe deserunt eveniet?</p>
                    <!--
                    <p class="article-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quod ex voluptate perspiciatis repellat at! Magnam tempora voluptatibus culpa vero eum officiis ipsum minus incidunt?</p>
                    <p class="article-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis expedita reprehenderit labore ab cumque rerum.</p>
                    <p class="article-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequuntur fugiat ducimus enim, eaque nostrum, doloremque deleniti accusantium impedit culpa expedita ex nulla. Ad quidem eaque itaque corporis blanditiis consequuntur, nihil, corrupti maiores incidunt placeat accusantium quibusdam labore voluptate veniam molestias, perferendis optio molestiae error autem explicabo exercitationem fugit. Adipisci.</p>
                    <p class="article-paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis iusto dolor, quaerat repudiandae ab mollitia inventore? Tempore maxime sequi est. Nesciunt quia assumenda iste doloribus?</p>
                    <p class="article-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt maiores explicabo praesentium quidem vero placeat sint quas ad. Impedit sit reiciendis numquam pariatur ex beatae error ratione fugit adipisci. Animi.</p>
                    -->
                </div>
                <div id="third">
                    <h1 class="article-header">Lorem ipsum dolor sit amet.</h1>
                    <!--
                        Link: https://unsplash.com/photos/chrysler-building-new-york-aTWNx7yoJWo
                        By Mark Boss
                        Free to use under the Unsplash License
                    -->
                    <img class="image" src="/images/photo-1570304816841-906a17d7b067.jpeg" alt="Manhattan Skyline">
                    <p class="article-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque enim magni officiis molestiae. Dolores officiis earum maxime ut velit doloremque modi maiores magni possimus nulla.</p>
                    <!--
                    <p class="article-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non molestias vel tempore perferendis sit impedit dolorem quas, excepturi, fuga dolores nobis voluptates aspernatur placeat nulla rem distinctio dignissimos beatae.</p>
                    <p class="article-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta veniam, doloribus sed, maxime perspiciatis cum recusandae alias ad autem quidem impedit! Nam nostrum cupiditate, sequi molestiae deleniti ipsum tempora, ipsam corporis aspernatur et, facere beatae.</p>
                    <p class="article-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, minus praesentium, optio blanditiis esse iure corporis soluta impedit, ipsa placeat molestiae voluptatum molestias repellat repellendus velit nesciunt suscipit. Mollitia, error?</p>
                    -->
                </div>
            </div>
        </main>
    </body>
</html>